player-connection-mode=Listen
player-connection-guid=797859113
player-connection-debug=0
player-connection-project-name=Fps
player-connection-ip=192.168.56.1
player-connection-ip=172.21.176.1
player-connection-ip=192.168.1.154
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=1357d3d1ad81408e9d0f0ac4937e7d86
